h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: 'Arial', sans-serif;
}

.image-container {
    position: relative;
    width: 1000px;
    height: 800px;
    margin: 0 auto;
}

#defaultImage, .overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.5s ease-in-out;

}
#defaultImage.active, 
.overlay-image.active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

.image-container:hover {
    cursor: zoom-in;
}
